@font-face {
	font-family: 'Yekan';
	src: url('../fonts/Yekan.eot?') format('eot'),
		 url('../fonts/Yekan.woff') format('woff'),
		 url('../fonts/Yekan.ttf') format('truetype');
}
body {
	font: 13px 'Yekan',tahoma;
	direction: rtl;
	-webkit-font-smoothing: subpixel-rendering;
	color: #fff;
	background: url('../img/bg.jpg') no-repeat;
	background-size: cover;
}
code,pre {
	direction: ltr !important;
}