/** Base **/
@font-face {
	font-family: 'Yekan';
	src: url('../fonts/Yekan.eot?') format('eot'),
		 url('../fonts/Yekan.woff') format('woff'),
		 url('../fonts/Yekan.ttf') format('truetype');
}
body {
	font: 13px 'Tahoma',sans-serif;
	direction: rtl;
	color: #fff;
	text-shadow: 0 1px 3px #000;
	background: #000 url('../img/bg.jpg');
	background-size: cover;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1,h2,h3,h4,h5,h6 { font-family: 'Yekan', 'Cambira Math', arial; }
h1 { font-size: 72px;v}
::selection { background: #000; color: #fff; }
::-moz-selection { background: #000; color: #fff; }

/** Container **/
.container {
	width: 700px;
	margin: 200px auto;
	text-align: center;
}
#short { text-decoration: none; }
#url {
	padding: 6px 8px;
	background: none repeat scroll 0% 0% padding-box rgba(255, 255, 255, 0.9);
	border-width: 1px;
	border-style: solid;
	border-color: rgba(23, 51, 78, .15) rgba(23, 51,78, .17) rgba(23, 51, 78, .2);
	box-shadow: 0 1px 0 rgba(8,22,37,.02) inset;
	border-radius: 0 3px 3px 0;
	font: 30px 'Calibri',arial;
	font-style: italic;
	direction: ltr;
	display: inline;
	height: 50px;
	color: #000;
}
#url:focus {
	text-decoration: none;
	border-style: solid;
	border-color: rgba(23, 51, 78, .75) rgba(23, 51,78, .77) rgba(23, 51, 78, .72);
	box-shadow: 0 1px 0 rgba(8,22,37,.02) inset;
}
#submit {
	font: 18px 'Yekan',arial;
	width: 100px;
	height: 63px;
	float: left;
	display: inline;
	margin: 0 -4px 0 0;
	background: rgba(51,166,255, .6);
	border: 3px solid rgba(51,166,255, .1);
	color: #fff;
	position: absolute;
	border-radius: 3px 0 0 3px;
}

/** Navigation **/
.nav {
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 999;
}
.nav span {
	margin: 10px 0;
	position: relative;
	display: block;
	padding: 5px;
	width: 30px;
	height: 30px;
}
.nav span a { display: inline-block; }
.nav span.blog { background: #0096ff; }
.nav span.api { background: orange; }
a { 
	color: #999;
	text-decoration: none;
	-webkit-transition: color 250ms linear;
	-moz-transition: color 250ms linear;
	-ms-transition: color 250ms linear;
	-o-transition: color 250ms linear;
	transition: color 250ms linear;
}
a:hover { color: #000; }
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/overlay.png') repeat;
	z-index: 99999;
}
.overlay span {
	width: 220px;
	height: 19px;
	position: absolute;
	top: 40%;
	left: 40%;
	background: url('../img/loading.gif') no-repeat;
}